<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.googlecode.horkizein.test"
  android:versionCode="1"
  android:versionName="0.0.1-SNAPSHOT">

  <application
    android:debuggable="true"
    android:icon="@drawable/icon"
    android:label="@string/app_name">
    <uses-library android:name="android.test.runner" />
  </application>

  <uses-sdk android:minSdkVersion="7" />
  
  <instrumentation
    android:targetPackage="com.googlecode.horkizein.test"
    android:name="com.googlecode.horkizein.test.HorkizeinTestRunner" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>

