
/.settings
/.project
/target
/horkizein-it/.classpath
/horkizein-it/.project
/horkizein-it/project.properties
/horkizein-it/.settings
/horkizein-it/bin
/horkizein-it/target
/horkizein/.settings
/horkizein/target
/horkizein/.project
/horkizein/.classpath
